

.form-group{
	

	width: 730px;
	height:40px;
	margin-left: 10px;
	padding-left: 10px;
	padding:35px;
	border-color: #000 solid 1px;
	
}

.card{

	display: inline-block;
	width: 80%;
	height: 40px;
	background-color:white;
}